<br><br><br>
<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title ">Ajuste de acumulado</h4>
        <br>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form #f="ngForm">
                    <div class="row">
                        <div class="col" id="campo_cadena">
                            <mat-form-field class="example-full-width">
                                <mat-label>Filtrar por cliente</mat-label>
                                <mat-select #listaCadena [(value)]="filtrado.idempresa" name="idempresa"
                                    [(ngModel)]="filtrado.idempresa" required>
                                    <mat-option value="" disabled> -- Seleccione un cliente --
                                    </mat-option>
                                    <mat-option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">
                                        {{empresa.nombreempresa}}
                                    </mat-option>
                                    <!--Seccion para cargar datos desde el catalogo de empresa-->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input matInput [matDatepicker]="Fecha" type="text" name="Fecha" placeholder="Fecha"
                                    [(ngModel)]="filtrado.fecha" disabled>
                                <mat-datepicker-toggle matSuffix [for]="Fecha"></mat-datepicker-toggle>
                                <mat-datepicker #Fecha disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <input type="hidden" name="Fecha" [(ngModel)]="filtrado.fecha" required>
                        </div>
                        <div class="col">
                            <mat-form-field style="width:150px">
                                <input matInput type="text" name="ajuste_acumulado" pattern="[0-9]*"
                                    placeholder="Ajuste de acumulado" [(ngModel)]="filtrado.ajuste_acumulado" required>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <button class="btn btn-info pull-right" (click)="GuardarAjusteAcumulado()"
                                [disabled]="!f.valid" matTooltip="Guardar"
                                [matTooltipClass]="'mat-tooltip-promociones-ult-mod'">
                                <i class="material-icons" style="font-size: 20px;">
                                    save
                                </i>
                            </button>
                        </div>
                        <div class="col">
                            <button *ngIf="filtrado.idempresa.trim() != '' && filtrado.fecha != ''" type="button"
                                class="btn btn-info pull-right" (click)="GenerarReporteAcumuladoMensualExcel()"
                                matTooltip="Generar reporte acumulado mensual en excel"
                                [matTooltipClass]="'mat-tooltip-promociones-ult-mod'">
                                <i class="material-icons" style="font-size: 20px;">
                                    cloud_download
                                </i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-12">
                        <div style="width: 100%;height: 100%;">
                            <!-- Paginador -->
                            <mat-paginator #pag *ngIf="informacion_ajustes_acumulados != null"
                                [length]="paginacion.total_records" [pageSize]="paginacion.page_size"
                                [pageSizeOptions]="paginacion.page_size_options" (page)="irAlaPagina($event)"
                                style="float: right;">
                            </mat-paginator>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                        Empresa
                                    </th>
                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                        Fecha
                                    </th>
                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                        Ajuste acumulado
                                    </th>
                                </thead>
                                <tbody *ngIf="informacion_ajustes_acumulados != null">
                                    <tr *ngFor="let ac of informacion_ajustes_acumulados">
                                        <td>{{ ac.nombreempresa }}</td>
                                        <td>{{ ac.fecha }}</td>
                                        <td>{{ ac.ajuste_acumulado }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Inicia bloqueador mientras procesa-->
                <div id="bloqueador_tabla_ac" class="row"
                    style="position: absolute;width:100%;top:0;left:0;width:100%;height:100%">
                    <div class="col"
                        style="background-color:rgba(10, 9, 9, 0.062);z-index:1;display: flex;align-items: center;">
                        <mat-progress-spinner style="margin: 0 auto;" mode="indeterminate" diameter="85"
                            strokeWidth="10">
                        </mat-progress-spinner>
                        <div style="position:absolute;left:calc((100% /2) - 4%);margin:0 auto;color:blue">
                            Cargando...
                        </div>
                    </div>
                </div>
                <!--Fin bloqueador mientras procesa -->

            </div>
        </div>

    </div>
</div>