<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <div style="width: 100%;height: 100%;">
                    <!-- Paginador -->
                    <mat-paginator #pag *ngIf="reporte_asistencia != null" [length]="paginacion.total_records"
                        [pageSize]="paginacion.page_size" [pageSizeOptions]="paginacion.page_size_options"
                        (page)="irAlaPagina($event)" style="float: right;">
                    </mat-paginator>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th style="background-color: #007A87; color: #FFFFFF;">
                                Promotor &oacute; supervisor
                            </th>
                            <th *ngFor="let encabezado of encabezados"
                                style="background-color: #007A87; color: #FFFFFF;">
                                {{ encabezado.campo }}
                            </th>
                            <th style="background-color: #007A87; color: #FFFFFF;">
                                Efectividad
                            </th>
                        </thead>
                        <tbody *ngIf="reporte_asistencia != null">
                            <tr *ngFor="let ra of reporte_asistencia; let i = index">
                                <td>{{ ra.nombrepromotor }}</td>
                                <td *ngFor="let campo of campos_encabezados">
                                    {{ ra[campo.nombre_campo] }}
                                </td>
                                <td>{{ ra.efectividad }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Inicia bloqueador mientras procesa-->
<div id="bloqueador_tabla_reporte_asistencia" class="row"
    style="position: absolute;width:100%;top:0;left:0;width:100%;height:100%">
    <div class="col" style="background-color:rgba(10, 9, 9, 0.062);z-index:1;display: flex;align-items: center;">
        <mat-progress-spinner style="margin: 0 auto;" mode="indeterminate" diameter="85" strokeWidth="10">
        </mat-progress-spinner>
        <div style="position:absolute;left:calc((100% /2) - 4%);margin:0 auto;color:blue">
            Cargando...
        </div>
    </div>
</div>
<!--Fin bloqueador mientras procesa -->