<div class="main-content">
    <div class="container-fluid">

        <!-- ***************************************************** -->
        <!-- Seccion de tiendas -->
        <div class="center">
            <h2>{{empresa}}</h2>
        </div>


        <div class="row">
            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">

                        <div class="card-icon" style="background-color:#007A87;">
                            <!--  <i class="material-icons">content_copy</i> -->
                            <i class="material-icons">
                                <img src="../assets/img/iconos_cajas/TOTAL_DE_TIENDAS.png" width="90%" height="90%">
                            </i>
                        </div>


                        <p class="card-category">{{ titulo_contador_objetivo_tiendas }}</p>
                        <h3 class="card-title">{{Total_tiendas}}</h3>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">

                        <div class="card-icon" style="background-color:#007A87;">
                            <!--  <i class="material-icons">content_copy</i> -->
                            <i class="material-icons">
                                <img src="../assets/img/iconos_cajas/TIENDAS_VISITADAS.png" width="90%" height="90%">
                            </i>
                        </div>


                        <p class="card-category">{{ titulo_contador_acumulado }}</p>
                        <h3 class="card-title">{{Tiendas_visitadas}}</h3>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card card-stats">
                    <div class="card-header">
                        <p class="card-category">{{ titulo_contador_avance_al_dia }} {{FechaHora}}<br>
                        <h3 class="card-title">{{Visitas_Diarias}}</h3>
                    </div>
                </div>
            </div>

            <!--            
            <ng-template [ngIf]="usr.idperfil != 3">
                <div class="col">
                    <div class="card card-stats">
                        <div class="card-header card-header-icon">

                            <div class="card-icon" style="background-color:#007A87;">
                                <i class="material-icons">
                                    <img src="../assets/img/iconos_cajas/TIENDAS_SIN_VISITAR.png" width="90%"
                                        height="90%">
                                </i>
                            </div>

                            <p class="card-category">Tiendas sin Visitar</p>
                            <h3 class="card-title">{{Tiendas_sin_visitar}}</h3>
                        </div>

                    </div>
                </div>

                
            </ng-template>
            -->
        </div>

        <!-- ***************************************************** -->
        <!-- Seccion de usuarios -->
        <div class="row">

            <div class="col">
                <div class="card card-stats">
                    <div class="card-header card-header-icon" (click)="abrirVentanaModal()"
                        style="cursor: -webkit-grab; cursor: grab; cursor: -webkit-grabbing; cursor: grabbing; cursor: pointer;">

                        <div class="card-icon" style="background-color:#007A87;">
                            <!--  <i class="material-icons">content_copy</i> -->
                            <i class="material-icons">
                                <img src="../assets/img/iconos_cajas/TOTAL_DE_USUARIOS.png" width="90%" height="90%">
                            </i>
                        </div>


                        <p class="card-category">{{ titulo_contador_total_usuarios }}</p>
                        <h3 class="card-title">{{Total_usuarios}}</h3>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card card-stats">
                    <div class="card-header  card-header-icon" (click)="abrirVentanaModal(1)"
                        style="cursor: -webkit-grab; cursor: grab; cursor: -webkit-grabbing; cursor: grabbing; cursor: pointer;">
                        <div class="card-icon" style="background-color:#007A87;">
                            <i class="material-icons">
                                <img src="../assets/img/iconos_cajas/USUARIOS_ACTIVOS.png" width="90%" height="90%">
                            </i>
                        </div>
                        <p class="card-category">{{ titulo_contador_usuarios_activos }}</p>
                        <h3 class="card-title">{{Total_usuarios_activos}}</h3>
                    </div>

                </div>
            </div>

            <ng-template [ngIf]="usr.idperfil != 3">
                <div class="col">
                    <div class="card card-stats">
                        <div class="card-header  card-header-icon" (click)="abrirVentanaModal(2)"
                            style="cursor: -webkit-grab; cursor: grab; cursor: -webkit-grabbing; cursor: grabbing; cursor: pointer;">
                            <div class="card-icon" style="background-color:#007A87;">
                                <i class="material-icons">
                                    <img src="../assets/img/iconos_cajas/USUARIOS_INACTIVOS.png" width="90%"
                                        height="90%">
                                </i>
                            </div>
                            <p class="card-category">{{ titulo_contador_usuarios_inactivos }}</p>
                            <h3 class="card-title">{{Total_usuarios_inactivos}}</h3>
                        </div>
                    </div>
                </div>
            </ng-template>

            <div class="col">
                <div class="card card-stats">
                    <div class="card-header  card-header-icon" (click)="abrirVentanaModal(3)"
                        style="cursor: -webkit-grab; cursor: grab; cursor: -webkit-grabbing; cursor: grabbing; cursor: pointer;">
                        <div class="card-icon" style="background-color:#007A87">
                            <i class="material-icons">
                                <img src="../assets/img/iconos_cajas/USUARIOS_EN_TRANSITO.png" width="90%" height="90%">
                            </i>
                        </div>
                        <p class="card-category">{{ titulo_contador_usuarios_en_transito }}</p>
                        <h3 class="card-title">{{Usuarios_transito}}</h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- ***************************************************** -->
        <div id="m-mapa" class="row">
            <div class="col-md-12">
                <div id="map" #map style="margin:0 0 0 0"></div>
            </div>
        </div>

        <!-- Botones para ver las tablas -->
        <div class="row">
            <div class="col" style="text-align: center;">
                <button mat-raised-button type="submit" class="btn btn-info pull-left"
                    (click)="abrirVentanaModalRC()">Capturas
                    por Usuarios</button>
            </div>
            <div class="col" style="text-align: center;">
                <button mat-raised-button type="submit" class="btn btn-info pull-left"
                    (click)="abrirVentanaModalRU()">Últimas
                    capturas</button>
            </div>

            <div class="col" style="text-align: center;">
                <button mat-raised-button type="submit" class="btn btn-info pull-left"
                    (click)="abrirVentanachecinsincheckout()">Sin Checkout</button>
            </div>

            <div class="col" style="text-align: center;">
                <button mat-raised-button type="submit" class="btn btn-info pull-left"
                    (click)="abrirVentanaModalODM()">Op. con
                    distancia > 500 m.</button>
            </div>
            <div class="col" style="text-align: center;">
                <button mat-raised-button type="submit" class="btn btn-info pull-left"
                    (click)="abrirVentanaModalRSA()">Sin
                    actividad</button>
            </div>
            <div class="col" style="text-align: center;">
                <button mat-raised-button type="submit" class="btn btn-info pull-left" (click)="verUbicaciones()">Ver
                    mapa de ubicaciones</button>
            </div>
        </div>

        <!-- ** Ranking  **-->

        <div class="modal fade" id="ventanaRC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="overflow: auto">
                        <div style="min-height:auto;max-height:800px;overflow:auto;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div style="min-height:auto;max-height:800px;overflow:auto">
                                                <div class="card">
                                                    <div class="card-header card-header-info">
                                                        <h4 class="card-title ">Ranking de capturas por Usuarios
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table; width: 800px;">
                                                                <thead class=" text-primary">
                                                                    <th>
                                                                        Usuario
                                                                    </th>
                                                                    <th>
                                                                        Fecha
                                                                    </th>
                                                                    <th>
                                                                        Capturas
                                                                    </th>
                                                                </thead>
                                                                <tbody *ngIf="rankingCapturasUsuarios != null">
                                                                    <tr *ngFor="let rankingCapturasUsuario of rankingCapturasUsuarios"
                                                                        style="font-size: 10px;">
                                                                        <td>{{ rankingCapturasUsuario.Usuario }}
                                                                        </td>
                                                                        <td>{{ rankingCapturasUsuario.Fecha }}
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            {{ rankingCapturasUsuario.Total_de_capturas
                                                                            }}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ultimas capturas de usuario -->
        <div class="modal fade" id="ventanaRU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="overflow: auto">
                        <div style="min-height:auto;max-height:800px;overflow:auto;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div style="min-height:auto;max-height:800px;overflow:auto">
                                                <div class="card">
                                                    <div class="card-header card-header-info">
                                                        <h4 class="card-title ">Últimas capturas de Usuarios
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class=" text-primary">
                                                                    <th>
                                                                        Promotor
                                                                    </th>
                                                                    <th>
                                                                        Actividad
                                                                    </th>
                                                                    <th>
                                                                        Hora
                                                                    </th>
                                                                </thead>
                                                                <tbody *ngIf="rankingPromotorActividadHora != null">
                                                                    <tr *ngFor="let _rankingPromotorActividadHora of rankingPromotorActividadHora"
                                                                        style="font-size: 10px;">
                                                                        <td>{{ _rankingPromotorActividadHora.Nombre }}
                                                                        </td>
                                                                        <td>{{ _rankingPromotorActividadHora.Operacion
                                                                            }}
                                                                        </td>
                                                                        <td>{{_rankingPromotorActividadHora.Hora }}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***************************************************** -->
        <!-- ****** Sin Ckeckout ****** -->
        <div class="modal fade" id="ventanachecinsincheckout" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="overflow: auto">
                        <div style="min-height:auto;max-height:800px;overflow:auto;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div style="min-height:auto;max-height:800px;overflow:auto">
                                                <div class="card">
                                                    <div class="card-header card-header-info">
                                                        <h4 class="card-title ">Operaciones sin Checkout
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class=" text-primary">
                                                                    <th>
                                                                        Nombre
                                                                    </th>
                                                                    <th>
                                                                        Tienda
                                                                    </th>
                                                                    <th>
                                                                        Actividad
                                                                    </th>
                                                                    <th>
                                                                        FechaHora
                                                                    </th>
                                                                </thead>
                                                                <tbody *ngIf="getvw_checkinsincheckout != null">
                                                                    <tr *ngFor="let resultado of getvw_checkinsincheckout"
                                                                        style="font-size: 10px;">
                                                                        <td>{{ resultado.nombre }}
                                                                        </td>
                                                                        <td>{{ resultado.tienda }}
                                                                        </td>
                                                                        <td>{{ resultado.actividad }}
                                                                        </td>
                                                                        <td>{{ resultado.fechahora }}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ***************************************************** -->
        <!-- ********* Distancia Mayor a 500 metros ********* -->
        <div class="modal fade" id="ventanaODM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="overflow: auto">
                        <div style="min-height:auto;max-height:800px;overflow:auto;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div style="min-height:auto;max-height:800px;overflow:auto">
                                                <div class="card">
                                                    <div class="card-header card-header-info">
                                                        <h4 class="card-title ">Operaciones con distancia mayor a 500
                                                            metros
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class=" text-primary">
                                                                    <th>
                                                                        Nombre
                                                                    </th>
                                                                    <th>
                                                                        Tienda
                                                                    </th>
                                                                    <th>
                                                                        Distancia
                                                                    </th>
                                                                    <th>
                                                                        Acción
                                                                    </th>
                                                                </thead>
                                                                <tbody *ngIf="ggetvw_consuta_distanciachekin != null">
                                                                    <tr *ngFor="let _ggetvw_consuta_distanciachekin of ggetvw_consuta_distanciachekin"
                                                                        style="font-size: 10px;">
                                                                        <td>{{ _ggetvw_consuta_distanciachekin.Nombre }}
                                                                        </td>
                                                                        <td>{{ _ggetvw_consuta_distanciachekin.Tienda }}
                                                                        </td>
                                                                        <td>{{ _ggetvw_consuta_distanciachekin.distancia
                                                                            }}
                                                                        </td>
                                                                        <td>{{ _ggetvw_consuta_distanciachekin.accion }}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ********************************************************************************************** -->
        <!-- ********* Usuarios Sin Actividad ******************* -->
        <div class="modal fade" id="ventanaRSA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="overflow: auto">
                        <div style="min-height:auto;max-height:800px;overflow:auto;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div style="min-height:auto;max-height:800px;overflow:auto">
                                                <div class="card">
                                                    <div class="card-header card-header-info">
                                                        <h4 class="card-title ">Usuarios sin actividad
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">

                                                        <!--Seccion de asignacion de observaciones-->
                                                        <div id="tbl_obs" #tbl_obs class="table_responsive"
                                                            style="display: none;">
                                                            <table class="table">
                                                                <thead class="text-primary">
                                                                    <th>
                                                                        Num
                                                                    </th>
                                                                    <th>
                                                                        Usuario
                                                                    </th>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            {{ id }}
                                                                        </td>
                                                                        <td>
                                                                            {{ usuario }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <mat-form-field class="example-full-width">
                                                                                <mat-label>Observaciones</mat-label>
                                                                                <textarea matInput
                                                                                    placeholder="Observaciones"
                                                                                    [(ngModel)]="observacion"></textarea>
                                                                            </mat-form-field>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <button mat-raised-button type="submit"
                                                                                class="btn btn-info pull-right"
                                                                                (click)="guardarObservacion()">Guardar</button>
                                                                            <button mat-raised-button type="submit"
                                                                                class="btn btn-info pull-right"
                                                                                (click)="cancelar()">Cancelar</button>
                                                                            <div class="clearfix"></div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--*******************************************-->

                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class=" text-primary">
                                                                    <th>
                                                                        Num
                                                                    </th>
                                                                    <th>
                                                                        Usuario
                                                                    </th>
                                                                    <th>
                                                                        Observaciones
                                                                    </th>
                                                                </thead>
                                                                <tbody *ngIf="ggetvw_usuariossinactividad_hoy != null">
                                                                    <tr *ngFor="let _ggetvw_usuariossinactividad_hoy of ggetvw_usuariossinactividad_hoy"
                                                                        style="font-size: 10px;">
                                                                        <td>{{
                                                                            _ggetvw_usuariossinactividad_hoy.idpromotor
                                                                            }}
                                                                        </td>
                                                                        <td>{{
                                                                            _ggetvw_usuariossinactividad_hoy.Usuario_SinRegistro
                                                                            }}
                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-info pull-right"
                                                                                href="javascript:void(0)"
                                                                                (click)="selectObservaciones(_ggetvw_usuariossinactividad_hoy.idpromotor,_ggetvw_usuariossinactividad_hoy.Usuario_SinRegistro,_ggetvw_usuariossinactividad_hoy.observaciones);scroll(tbl_obs);">
                                                                                <i class="material-icons"
                                                                                    style="font-size: 20px"
                                                                                    data-md-tooltip="Nuevo">
                                                                                    {{
                                                                                    _ggetvw_usuariossinactividad_hoy.icono
                                                                                    }}
                                                                                </i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ***************************************************** -->


<app-lista-empleados ventana="ventanaSP" [titulo]="titulo" [supervisores]="supervisores_0"
    [supervisores_promotores]="supervisores_promotores_0">
</app-lista-empleados>

<app-lista-empleados ventana="ventanaSP1" [titulo]="titulo" [supervisores]="supervisores_1"
    [supervisores_promotores]="supervisores_promotores_1">
</app-lista-empleados>

<app-lista-empleados ventana="ventanaSP2" [titulo]="titulo" [supervisores]="supervisores_2"
    [supervisores_promotores]="supervisores_promotores_2">
</app-lista-empleados>

<app-lista-empleados ventana="ventanaSP3" [titulo]="titulo" [supervisores]="supervisores_3"
    [supervisores_promotores]="supervisores_promotores_3">
</app-lista-empleados>