<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <div style="width: 100%;height: 100%;">
                    <!-- Paginador -->
                    <mat-paginator #pag *ngIf="info_slide != null" [length]="paginacion.total_records"
                        [pageSize]="paginacion.page_size" [pageSizeOptions]="paginacion.page_size_options"
                        (page)="irAlaPagina($event)" style="float: right;">
                    </mat-paginator>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th style="background-color: #007A87; color: #FFFFFF;">
                                Ticket
                            </th>
                            <th style="background-color: #007A87; color: #FFFFFF;">
                                Evidencia
                            </th>
                            <th style="background-color: #007A87; color: #FFFFFF;">
                                Productos
                            </th>
                            <th style="background-color: #007A87; color: #FFFFFF;">
                                Comentarios
                            </th>
                        </thead>
                        <tbody *ngIf="info_slide != null">
                            <tr *ngFor="let s of info_slide; let i = index">
                                <td><img src="{{ s.ticket }}" style="width:100px;height:100px;"
                                        (click)="abrirVentanaModal(s.ticket)"></td>
                                <td><img src="{{ s.evidencia }}" style="width:100px;height:100px;"
                                        (click)="abrirVentanaModal(s.evidencia)"></td>
                                <td [innerHTML]="s.productos" style="width: 300px;"></td>
                                <td style="width: 300px;">{{ s.comentarios }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Inicia bloqueador mientras procesa-->
<div id="bloqueador_tabla_info_slide" class="row"
    style="position: absolute;width:100%;top:0;left:0;width:100%;height:100%">
    <div class="col" style="background-color:rgba(10, 9, 9, 0.062);z-index:1;display: flex;align-items: center;">
        <mat-progress-spinner style="margin: 0 auto;" mode="indeterminate" diameter="85" strokeWidth="10">
        </mat-progress-spinner>
        <div style="position:absolute;left:calc((100% /2) - 4%);margin:0 auto;color:blue">
            Cargando...
        </div>
    </div>
</div>
<!--Fin bloqueador mientras procesa -->

<!-- Modal -->
<div class="modal fade" id="ventanaImagenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal titl</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>-->
            <div class="modal-body" style="overflow: auto">
                <img id="imagen" width="400" height="550">
            </div>
            <!--<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
        </div>
    </div>
</div>