<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <div scroll-here class="card">
            <div id="ref_scroll" class="card-header card-header-tabs card-header-info">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <!--<span class="nav-tabs-title">Tasks:</span>-->
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item active"><a mat-button class="nav-link active" href="#lista_errores"
                                    data-toggle="tab">Lista de errores<div class="ripple-container"></div></a></li>
                            <li class="nav-item "><a mat-button class="nav-link " href="#detalles_error"
                                    data-toggle="tab">Detalles del error<div class="ripple-container"></div></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content">
                    <!-- Div dinamico -->
                    <div class="tab-pane active" id="lista_errores">
                        <!-- Here is the content -->
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-info">
                                        <h5 class="card-title">Búsqueda de errores</h5>
                                    </div>
                                    <div class="card-body">
                                        <form #formaerrores="ngForm">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <mat-form-field style="width: 100px;">
                                                        <input matInput [matDatepicker]="FechaInicial" type="text"
                                                            name="FechaInicial0" placeholder="Fecha inicial"
                                                            [(ngModel)]="filtradoerrores.FechaInicial" />
                                                        <mat-datepicker-toggle matSuffix [for]="FechaInicial">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #FechaInicial disabled="false"></mat-datepicker>
                                                    </mat-form-field>
                                                    <input type="hidden" name="FechaInicial"
                                                        [(ngModel)]="filtradoerrores.FechaInicial" />
                                                </div>

                                                <div class="col-md-3">
                                                    <mat-form-field style="width: 100px;">
                                                        <input matInput [matDatepicker]="FechaFinal" type="text"
                                                            name="FechaFinal0" placeholder="Fecha final"
                                                            [(ngModel)]="filtradoerrores.FechaFinal" />
                                                        <mat-datepicker-toggle matSuffix [for]="FechaFinal">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #FechaFinal disabled="false"></mat-datepicker>
                                                    </mat-form-field>
                                                    <input type="hidden" name="FechaFinal"
                                                        [(ngModel)]="filtradoerrores.FechaFinal" />
                                                </div>

                                                <div class="col-md-3">
                                                    <mat-form-field style="width: 250px;">
                                                        <input matInput type="text" name="Usuario"
                                                            placeholder="Filtrado por Usuario"
                                                            [(ngModel)]="filtradoerrores.Usuario" />
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-md-3">
                                                    <mat-form-field style="width: 250px;">
                                                        <input matInput type="text" name="Fabricante"
                                                            placeholder="Filtrado por fabricante"
                                                            [(ngModel)]="filtradoerrores.Fabricante" />
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field style="width: 250px;">
                                                        <input matInput type="text" name="Modelo"
                                                            placeholder="Filtrado por modelo"
                                                            [(ngModel)]="filtradoerrores.Modelo" />
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3">
                                                    <a class="btn btn-info pull-right" href="javascript:void(0)"
                                                        (click)="buscaErrores(formaerrores)">
                                                        <i class="material-icons" style="font-size: 20px;"
                                                            data-md-tooltip="Buscar Error">
                                                            search
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ************************************* -->
                        <!-- Lista del errores -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-info">
                                        <h4 class="card-title">Lista de errores</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <!-- <a *ngIf="errores != null" class="btn btn-info pull-right" href="javascript:void(0)" (click)="ExportarExcel()">
                                                <i class="material-icons" style="font-size: 20px;" data-md-tooltip="Buscar Producto">
                                                    cloud_download
                                                </i>
                                            </a> -->
                                            <div class="clearfix"></div>
                                            <mat-paginator #pag *ngIf="errores != null" [length]="errores.length"
                                                [pageSize]="paginacion.page_size"
                                                [pageSizeOptions]="paginacion.pageSizeOptions"
                                                (page)="paginacion.handlePage($event)">
                                            </mat-paginator>
                                            <table #tabla_productos class="table">
                                                <thead class="text-primary">
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Usuario
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Fecha Hora
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Sección
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Fabricante
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Modelo
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Atendido
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Versi&oacute;n
                                                    </th>
                                                    <th style="background-color: #007a87; color: #ffffff;">
                                                        Editar
                                                    </th>
                                                </thead>
                                                <tbody *ngIf="errores != null">
                                                    <tr *ngFor="
                                  let elerror of errores
                                    | paginate
                                      : paginacion.page_size
                                      : paginacion.page_number
                                ">
                                                        <td>{{ elerror.usuario }}</td>
                                                        <td>{{ elerror.fechahora1 }}</td>
                                                        <td>{{ elerror.seccion }}</td>
                                                        <td>{{ elerror.fabricante }}</td>
                                                        <td>{{ elerror.modelo }}</td>
                                                        <td>{{ elerror.atendido1 }}</td>
                                                        <td>{{ elerror.version }}</td>
                                                        <td style="text-align: center;">
                                                            <button mat-raised-button type="button"
                                                                class="btn btn-warning pull-right"
                                                                (click)="selectErrores(elerror);setSelectedTab('detalles_error');">
                                                                Editar
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Inicia bloqueador mientras procesa-->
                        <div id="bloqueador_errores" class="row" style="
                                                        position: absolute;
                                                        width: 100%;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                      ">
                            <div class="col" style="
                                                          background-color: rgba(10, 9, 9, 0.062);
                                                          z-index: 1;
                                                          display: flex;
                                                          align-items: center;
                                                        ">
                                <mat-progress-spinner style="margin: 0 auto" mode="indeterminate" diameter="85"
                                    strokeWidth="10">
                                </mat-progress-spinner>
                                <div style="
                                                            position: absolute;
                                                            left: calc((100% / 2) - 4%);
                                                            margin: 0 auto;
                                                            color: blue;
                                                          ">
                                    Cargando...
                                </div>
                            </div>
                        </div>
                        <!--Fin bloqueador mientras procesa -->

                    </div>
                    <div class="tab-pane active" id="detalles_error">
                        <!-- Here is the content -->
                        <br />
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Detalles del Error</h4>
                                </div>
                                <div class="card-body">
                                    <form #f="ngForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Usuario" type="text" name="Usuario"
                                                        [(ngModel)]="selectedError.usuario" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fabricante" type="text"
                                                        name="fabricante" [(ngModel)]="selectedError.fabricante" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Modelo" type="text" name="modelo"
                                                        [(ngModel)]="selectedError.modelo" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Hardware" type="text" name="hardware"
                                                        [(ngModel)]="selectedError.hardware" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Resolucion" type="text"
                                                        name="resolucion" [(ngModel)]="selectedError.resolucion" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Pantalla" type="text" name="pantalla"
                                                        [(ngModel)]="selectedError.tamaniopantalla" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Api" type="text" name="Api"
                                                        [(ngModel)]="selectedError.api_value" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Seccion" type="text" name="seccion"
                                                        [(ngModel)]="selectedError.seccion" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>Estatus Atendido</mat-label>
                                                    <mat-select #listaAtendido name="idatendido"
                                                        [(value)]="selectedError.idatendido"
                                                        [(ngModel)]="selectedError.idatendido">
                                                        <mat-option *ngFor="let a of Atendido" [value]="a.idAtendido">
                                                            {{a.valor}}
                                                        </mat-option>
                                                        <!--Seccion para cargar datos desde el estatus -->
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>Atendido por</mat-label>
                                                    <mat-select #listaAtendidoPor name="idatendidopor"
                                                        [(value)]="selectedError.idatendidopor"
                                                        [(ngModel)]="selectedError.idatendidopor">
                                                        <mat-option *ngFor="let ap of AtendidoPor"
                                                            [value]="ap.idAtendidoPor">
                                                            {{ap.valor}}
                                                        </mat-option>
                                                        <!--Seccion para cargar datos desde el estatus atendido por -->
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fecha Hora" type="text"
                                                        name="fechahora" [(ngModel)]="selectedError.fechahora" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <textarea matInput type="text" name="Error" placeholder="Error"
                                                        [(ngModel)]="selectedError.error" style="width:800px"
                                                        rows="10"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Versión Solución" type="text"
                                                        name="versionsolucion"
                                                        [(ngModel)]="selectedError.versionsolucion" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Versión" type="text" name="version"
                                                        [(ngModel)]="selectedError.version" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <textarea matInput type="text" name="solucion"
                                                        placeholder="Solución" [(ngModel)]="selectedError.solucion"
                                                        style="width:800px" rows="5"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-info pull-left"
                                            (click)="actualizaRegistro(selectedError)">
                                            Guardar
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                            (click)="setSelectedTab('lista_errores')">
                                            Regresar
                                        </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>