<div class="row">
    <div class="col-md-12">
        <br>
        <br>
        <div scroll-here class="card">
            <div id="ref_scroll" class="card-header card-header-tabs card-header-info">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <!--<span class="nav-tabs-title">Tasks:</span>-->
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item active"><a mat-button class="nav-link active" href="#lista_promociones"
                                    data-toggle="tab">Lista de Promociones<div class="ripple-container"></div></a></li>
                            <li class="nav-item "><a mat-button class="nav-link " href="#detalles_promocion"
                                    data-toggle="tab">Detalles Promoción<div class="ripple-container"></div></a></li>
                            <li class="nav-item "><a mat-button class="nav-link " href="#formatos_por_promocion"
                                    data-toggle="tab">Formatos por promoción<div class="ripple-container"></div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="tab-content">
                    <!-- Div dinamico -->
                    <div class="tab-pane active" id="lista_promociones">
                        <!-- Here is the content -->
                        <p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Buscar promocion"
                                        (keyup)="changeText($event)">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <a class="btn btn-info pull-right" href="javascript:void(0)" (click)="search(0)">
                                    <i class="material-icons" style="font-size: 20px" data-md-tooltip="Buscar">
                                        search
                                    </i>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <button mat-raised-button type="button" class="btn btn-info pull-right"
                                    (click)="selectNewCatPromocion();setSelectedTab('detalles_promocion')">Nuevo</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-info">
                                        <h4 class="card-title ">Catalogo de promociones</h4>
                                        <p class="card-category"> Aqui se muestra todas las promociones disponibles</p>
                                        <br>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <a *ngIf="promociones != null" class="btn btn-info pull-right"
                                                href="javascript:void(0)"
                                                (click)="exportarExcel.exportarExcel(promociones, encabezados)">
                                                <i class="material-icons" style="font-size: 20px"
                                                    data-md-tooltip="Exportar a Excel">
                                                    cloud_download
                                                </i>
                                            </a>
                                            <div class="clearfix"></div>

                                            <mat-paginator #pag *ngIf="promociones != null"
                                                [length]="promociones.length" [pageSize]="paginacion.page_size"
                                                [pageSizeOptions]="paginacion.pageSizeOptions"
                                                (page)="paginacion.handlePage($event)">
                                            </mat-paginator>

                                            <table #tabla_promociones class="table">
                                                <thead class=" text-primary">
                                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                                        Empresa
                                                        <br>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(1)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Desc">
                                                                arrow_drop_down
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(0)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Asc">
                                                                arrow_drop_up
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                                        Nombre
                                                        <br>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(3)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Desc">
                                                                arrow_drop_down
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(2)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Asc">
                                                                arrow_drop_up
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </th>
                                                    <th
                                                        style="background-color: #007A87; color: #FFFFFF; width: 300px;">
                                                        Capacidad
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(5)" (click)="search(4)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Desc">
                                                                arrow_drop_down
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(4)" (click)="search(3)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Asc">
                                                                arrow_drop_up
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                                        Canal
                                                        <br>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(7)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Desc">
                                                                arrow_drop_down
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(6)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Asc">
                                                                arrow_drop_up
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                                        Actividad
                                                        <br>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(9)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Desc">
                                                                arrow_drop_down
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a class="btn btn-info pull-right padding-boton"
                                                            href="javascript:void(0)" (click)="search(8)">
                                                            <i class="material-icons" style="font-size: 20px"
                                                                data-md-tooltip="Orden Asc">
                                                                arrow_drop_up
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                                        Editar
                                                    </th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">
                                                        Eliminar
                                                    </th>
                                                </thead>
                                                <tbody *ngIf="promociones != null">
                                                    <tr
                                                        *ngFor="let cat of promociones | paginate:paginacion.page_size:paginacion.page_number">
                                                        <td>{{ cat.nombreempresa }}</td>
                                                        <td>{{ cat.nombre }}</td>
                                                        <td>{{ cat.capacidad }}</td>
                                                        <td>{{ cat.canal }}</td>
                                                        <td>{{ cat.actividad }}</td>
                                                        <td style="text-align:center">
                                                            <button mat-raised-button type="button"
                                                                class="btn btn-warning pull-right"
                                                                (click)="selectCatPromocion(cat);setSelectedTab('detalles_promocion')">Editar</button>
                                                        </td>
                                                        <td><button mat-raised-button type="button"
                                                                class="btn btn-danger pull-right"
                                                                (click)="deleteCatPromocion(cat.idpromocion)"
                                                                [disabled]="noPermitido">Borrar</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Inicia bloqueador mientras procesa-->
                        <div id="bloqueador_promociones" class="row" style="
                            position: absolute;
                            width: 100%;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                          ">
                            <div class="col" style="
                              background-color: rgba(10, 9, 9, 0.062);
                              z-index: 1;
                              display: flex;
                              align-items: center;
                            ">
                                <mat-progress-spinner style="margin: 0 auto" mode="indeterminate" diameter="85"
                                    strokeWidth="10">
                                </mat-progress-spinner>
                                <div style="
                                position: absolute;
                                left: calc((100% / 2) - 4%);
                                margin: 0 auto;
                                color: blue;
                              ">
                                    Cargando...
                                </div>
                            </div>
                        </div>
                        <!--Fin bloqueador mientras procesa -->

                    </div>
                    <div class="tab-pane" id="detalles_promocion">
                        <!-- Here is the content -->
                        <p>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Editar promoci&oacute;n</h4>
                                    <p class="card-category">Ingrese la informaci&oacute;n solicitada.</p>
                                </div>
                                <div class="card-body">
                                    <form #f="ngForm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>Empresa</mat-label>
                                                    <mat-select [(value)]="idempresa" name="idEmpresa"
                                                        [(ngModel)]="selectedCatPromocion.idempresa">
                                                        <mat-option [value]="0">--Seleccione una empresa--</mat-option>
                                                        <mat-option *ngFor="let empresa of empresas"
                                                            [value]="empresa.idEmpresa">
                                                            {{empresa.nombreempresa}}
                                                        </mat-option>
                                                        <!--Seccion para cargar datos desde el catalogo de empresa-->
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" name="nombre"
                                                        [(ngModel)]="selectedCatPromocion.nombre">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Capacidad" type="text" name="capacidad"
                                                        [(ngModel)]="selectedCatPromocion.capacidad">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Canal" type="text" name="canal"
                                                        [(ngModel)]="selectedCatPromocion.canal">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Alcance" type="text" name="alcance"
                                                        [(ngModel)]="selectedCatPromocion.alcance">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width" style="width:100px">
                                                    <input matInput [matDatepicker]="inicio" type="text" name="inicio1"
                                                        placeholder="Inicio" [(ngModel)]="selectedCatPromocion.inicio"
                                                        disabled>
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="inicio"></mat-datepicker-toggle>
                                                    <mat-datepicker #inicio disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                                <input type="hidden" name="inicio"
                                                    [(ngModel)]="selectedCatPromocion.inicio">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width" style="width:100px">
                                                    <input matInput [matDatepicker]="final" type="text" name="final1"
                                                        placeholder="Final" [(ngModel)]="selectedCatPromocion.final"
                                                        disabled>
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="final"></mat-datepicker-toggle>
                                                    <mat-datepicker #final disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                                <input type="hidden" name="_final"
                                                    [(ngModel)]="selectedCatPromocion.final">
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Periodo" type="text" name="periodo"
                                                        [(ngModel)]="selectedCatPromocion.periodo">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Actividad" type="text" name="actividad"
                                                        [(ngModel)]="selectedCatPromocion.actividad">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Precio regular" type="text"
                                                        name="precioregular"
                                                        [(ngModel)]="selectedCatPromocion.precioregular">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Precio promocion" type="text"
                                                        name="preciopromocion"
                                                        [(ngModel)]="selectedCatPromocion.preciopromocion">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Usuario de actualización" type="text"
                                                        name="udc1" [(ngModel)]="selectedCatPromocion.uda_c" readonly
                                                        disabled>
                                                </mat-form-field>
                                                <input type="hidden" name="udc"
                                                    [(ngModel)]="selectedCatPromocion.uda_c">
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fecha de actualización" type="text"
                                                        name="fdc" [(ngModel)]="selectedCatPromocion.fdc" readonly
                                                        disabled>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Usuario de creación" type="text"
                                                        name="uda1" [(ngModel)]="selectedCatPromocion.uda" readonly
                                                        disabled>
                                                </mat-form-field>
                                                <input type="hidden" name="uda" [(ngModel)]="selectedCatPromocion.uda">
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fecha de creación" type="text"
                                                        name="fda" [(ngModel)]="selectedCatPromocion.fda" readonly
                                                        disabled>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table style="width: 200px;">
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="img">Subir una imagen</label>
                                                                <input placeholder="Seleccione una imagen" type="file"
                                                                    id="img" name="img"
                                                                    (change)="SubirImagen($event.target.files)"
                                                                    [disabled]="noPermitido">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button *ngIf="selectedCatPromocion.ruta != null"
                                                                mat-raised-button type="submit"
                                                                class="btn btn-warning pull-right"
                                                                (click)="BorrarImagen()" [disabled]="noPermitido">
                                                                Borrar Imagen
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <img src="{{ selectedCatPromocion.ruta }}" width="150"
                                                                height="150"><br>
                                                            <div id="selecciona_imagen">{{ selectedCatPromocion.ruta }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                            (click)="ListaFormatos(selectedCatPromocion.idpromocion)">Asignar
                                            formatos</button>
                                        <div class="clearfix"></div>
                                        <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                            (click)="createOrUpdateCatPromocion(f)"
                                            [disabled]="noPermitido">Guardar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="formatos_por_promocion">
                        <!-- Here is the content -->
                        <br>
                        <div class="row" *ngIf="selectedCatPromocion.idpromocion != null">
                            <div class="col-md-12">
                                <div class="input-group no-border" style="width: 30%">
                                    <input id="frc" type="text" value="" class="form-control"
                                        placeholder="Buscar formatos a asignar" (keyup)="changeTextFP($event)">

                                    <button mat-raised-button type="submit" id="btnfrc"
                                        class="btn btn-white btn-round btn-just-icon" (click)="searchFP()"
                                        style="visibility: hidden;">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>

                                    <a class="btn btn-info pull-right" href="javascript:void(0)" (click)="searchFP()">
                                        <i class="material-icons" style="font-size: 20px" data-md-tooltip="Buscar">
                                            search
                                        </i>
                                        <div class="ripple-container"></div>
                                    </a>


                                </div>
                                <div id="ra" style="display:none">
                                    <div class="card">
                                        <div class="card-header card-header-info">
                                            <h4 class="card-title ">Formatos disponibles</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <mat-paginator #pag2 *ngIf="formatosDisponibles != null"
                                                    [length]="formatosDisponibles.length"
                                                    [pageSize]="paginacion2.page_size"
                                                    [pageSizeOptions]="paginacion2.pageSizeOptions"
                                                    (page)="paginacion2.handlePage($event)">
                                                </mat-paginator>
                                                <table class="table">
                                                    <thead class=" text-primary">
                                                        <th style="background-color: #007A87; color: #FFFFFF;">Cadena
                                                        </th>
                                                        <th style="background-color: #007A87; color: #FFFFFF;">Formato
                                                        </th>
                                                        <th style="background-color: #007A87; color: #FFFFFF;">asignar
                                                        </th>
                                                    </thead>
                                                    <tbody *ngIf="formatosDisponibles != null">
                                                        <tr
                                                            *ngFor="let formato of formatosDisponibles | paginate:paginacion2.page_size:paginacion2.page_number">
                                                            <td>
                                                                {{formato.cadena}}
                                                            </td>
                                                            <td>
                                                                {{formato.formato}}
                                                            </td>
                                                            <td>
                                                                <button mat-raised-button type="button"
                                                                    class="btn btn-warning pull-right"
                                                                    (click)="setAsignaFormatos(formato)"
                                                                    [disabled]="noPermitido">Asignar formato</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" *ngIf="selectedCatPromocion.idpromocion == null">
                            <div class="col-md-12">
                                <h6>No hay ninguna promoci&oacute; seleccionada.</h6>
                            </div>
                        </div>
                        <div class="row" *ngIf="selectedCatPromocion.idpromocion != null">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-info">
                                        <h4 class="card-title ">Formatos Asignados a la promocion:
                                            {{selectedCatPromocion.nombre}}
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <mat-paginator #pag1 *ngIf="formatosPorPromocion != null"
                                                [length]="formatosPorPromocion.length"
                                                [pageSize]="paginacion1.page_size"
                                                [pageSizeOptions]="paginacion1.pageSizeOptions"
                                                (page)="paginacion1.handlePage($event)">
                                            </mat-paginator>
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Id promocion
                                                    </th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Cadena</th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Formato</th>
                                                    <!--<th style="background-color: #007A87; color: #FFFFFF;">Uda</th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Fda</th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Estatus</th>
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Asignar dias</th>-->
                                                    <th style="background-color: #007A87; color: #FFFFFF;">Desasignar
                                                    </th>
                                                </thead>
                                                <tbody *ngIf="formatosPorPromocion != null">
                                                    <tr
                                                        *ngFor="let formato of formatosPorPromocion | paginate:paginacion1.page_size:paginacion1.page_number">
                                                        <td>
                                                            {{formato.idpromocion}}
                                                        </td>
                                                        <td>
                                                            {{formato.cadena}}
                                                        </td>
                                                        <td>
                                                            {{formato.formato}}
                                                        </td>
                                                        <!--<td>
                                                            {{rutaPorPromotor.uda}}
                                                        </td>
                                                        <td>
                                                            {{rutaPorPromotor.fechaasignacion}}
                                                        </td>
                                                        <td>
                                                            {{rutaPorPromotor.estatus}}
                                                        </td>
                                                        <td>
                                                            <button mat-raised-button type="button"
                                                                class="btn btn-warning pull-right"
                                                                (click)="setSelectedTab1(1);selectRutaPromotor(rutaPorPromotor)">Asignar
                                                                dias</button>
                                                        </td>-->
                                                        <td>
                                                            <button mat-raised-button type="button"
                                                                class="btn btn-warning pull-right"
                                                                (click)="desasignarFormatoAPromocion(formato.idpromocionformato)"
                                                                [disabled]="noPermitido">Desasignar
                                                                formato</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>