<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header card-header-info">
                <h4 class="card-title">Generar reporte</h4>
                <p class="card-category">Ingrese la informaci&oacute;n solicitada.</p>
            </div>
            <div class="card-body">
                <form #f="ngForm">
                    <div class="row">
                        
                        <div class="col-md-3">
                            <mat-form-field style="width:100px">
                                <input matInput [matDatepicker]="FechaInicial" type="text" name="FechaInicialDP"
                                    placeholder="Fecha inicial" [(ngModel)]="filtradofotos.FechaInicial" disabled>
                                <mat-datepicker-toggle matSuffix [for]="FechaInicial"></mat-datepicker-toggle>
                                <mat-datepicker #FechaInicial disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <input type="hidden" name="FechaInicial" [(ngModel)]="filtradofotos.FechaInicial">
                        </div>
                        
                        <div class="col-md-3">
                            <mat-form-field style="width:100px">
                                <input matInput [matDatepicker]="FechaFinal" type="text" name="FechaFinalDP"
                                    placeholder="Fecha final" [(ngModel)]="filtradofotos.FechaFinal" disabled>
                                <mat-datepicker-toggle matSuffix [for]="FechaFinal"></mat-datepicker-toggle>
                                <mat-datepicker #FechaFinal disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <input type="hidden" name="FechaFinal" [(ngModel)]="filtradofotos.FechaFinal">
                        </div>
                        
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-select [(value)]="filtradofotos.idpromotor" name="idpromotor"
                                    [(ngModel)]="filtradofotos.idpromotor">
                                    <mat-option [value]="0">Todos los promotores</mat-option>
                                    <mat-option *ngFor="let promotor of promotores" [value]="promotor.idpromotor">
                                        {{promotor.nombrecompleto}}
                                    </mat-option>
                                    <!--Seccion para cargar datos desde el catalogo de empresa-->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-select [(value)]="filtradofotos.Tienda" name="idTienda"
                                    [(ngModel)]="filtradofotos.Tienda">
                                    <mat-option value="0">Todas las tiendas</mat-option>
                                    <mat-option *ngFor="let catruta of catrutas" [value]="catruta.idruta">
                                        {{catruta.Tienda}}  
                                    </mat-option>
                                    <!--Seccion para cargar datos desde el catalogo de empresa-->
                                </mat-select>
                            </mat-form-field>
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="visibility: hidden;">
                                <mat-select [(value)]="filtradofotos.idcadena" name="idcadena"
                                    [(ngModel)]="filtradofotos.idcadena">
                                    <mat-option [value]="0">Todas las cadenas</mat-option>
                                    <mat-option *ngFor="let cadena of cadenas" [value]="cadena.idcadena">
                                        {{cadena.cadena}}
                                    </mat-option>
                                    <!--Seccion para cargar datos desde el catalogo de empresa-->
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <a class="btn btn-info pull-right" href="javascript:void(0)"
                            (click)="generarReporteExcel.generarReporteExcel(f.value,idempresa)">
                                <i class="material-icons" style="font-size: 20px" data-md-tooltip="Exportar a Excel">
                                    cloud_download
                                </i>    
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
