<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header card-header-info">
                <h4 class="card-title">Reportes santa clara - [{{ nombre_modulo }}]</h4>
            </div>
            <div class="card-body">

                <app-filtros-reporte-asistencia *ngIf="filtrado_asistencia.idmodulo == '1'"
                    [filtrado]="filtrado_asistencia" [regs]="regs_asistencia" (consultarEvt)="consultarAsistencia()"
                    (generarReporteEvt)="generarReporteAsistencia($event)"></app-filtros-reporte-asistencia>
                <app-filtros-reporte-desplazamiento *ngIf="filtrado_desplazamiento.idmodulo == '2'"
                    [filtrado]="filtrado_desplazamiento" [regs]="regs_desplazamiento"
                    (consultarEvt)="consultarDesplazamiento()"
                    (generarReporteEvt)="generarReporteDesplazamiento()"></app-filtros-reporte-desplazamiento>
                <app-filtros-slide-scl *ngIf="filtrado_slide.idmodulo == '3'" [filtrado]="filtrado_slide"
                    [regs]="regs_slide" (consultarEvt)="consultarInfoSlide()"
                    (generarReporteEvt)="generarSlide()"></app-filtros-slide-scl>

                <div class="row">
                    <div class="col-12">
                        <app-lista-reporte-asistencia #ra *ngIf="filtrado_asistencia.idmodulo == '1'"
                            [filtrado]="filtrado_asistencia"
                            (regs)="regs_asistencia = $event"></app-lista-reporte-asistencia>
                        <app-lista-reporte-desplazamiento #rd *ngIf="filtrado_desplazamiento.idmodulo == '2'"
                            [filtrado]="filtrado_desplazamiento"
                            (regs)="regs_desplazamiento = $event"></app-lista-reporte-desplazamiento>
                        <app-lista-slide-scl #s *ngIf="filtrado_slide.idmodulo == '3'" [filtrado]="filtrado_slide"
                            (regs)="regs_slide = $event"></app-lista-slide-scl>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>