<app-carga-informacion [titulo_contador_objetivo_tiendas]="titulo_contador_objetivo_tiendas"
    [titulo_contador_acumulado]="titulo_contador_acumulado"
    [titulo_contador_avance_al_dia]="titulo_contador_avance_al_dia"
    [titulo_contador_total_usuarios]="titulo_contador_total_usuarios"
    [titulo_contador_usuarios_activos]="titulo_contador_usuarios_activos"
    [titulo_contador_usuarios_inactivos]="titulo_contador_usuarios_inactivos"
    [titulo_contador_usuarios_en_transito]="titulo_contador_usuarios_en_transito"></app-carga-informacion>